<!-- <table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Address</th>
        <th>Postal Code</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Model Number</th>
        <th>Payment Method</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Cashback</th>
        <th>Discount</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>${this.bill.customerName}</td>
        <td>${this.bill.address}</td>
        <td>${this.bill.post}</td>
        <td>${this.bill.email}</td>
        <td>${this.bill.phone}</td>
        <td>${this.bill.modelNumber}</td>
        <td>${this.bill.paymentMethod}</td>
        <td>${this.bill.quantity}</td>
        <td>${this.bill.amount}</td>
        <td>${this.bill.cashback}</td>
        <td>${this.bill.discount}</td>
        <td>${this.bill.total}</td>
      </tr>
    </tbody>
  </table> -->


  <div class="invocie">
    <div class="container">
        <div class="invoice-container">
            <div class="heading">
            <h3>Ivoice</h3>
        </div>
        <div class="customer">
            <h3>Customer Details</h3>
            <th>Customer Name</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Email</th>
            <th>Phone</th>
        </div>
        </div>
    </div>
  </div>