<div class="line"></div>
<div class="footer">
    <div class="container">
        <footer>
            <div class="footer-container">

                <div class="About footer-items">
                    <h5>ABOUT</h5>
                    <a href="" routerLink="/footercard">Contact Us</a>
                    <a href="" routerLink="/footercard">About Us</a>
                    <a href="" routerLink="/footercard">Careers</a>
                    <a href="" routerLink="/footercard">Corporate Information</a>
                </div>
                <div class="help footer-items">
                    <h5>Help</h5>
                    <a href="" routerLink="/footercard">Payments</a>
                    <a href="" routerLink="/footercard">Shipping</a>
                    <a href="" routerLink="/footercard">Orders</a>
                    <a href="" routerLink="/footercard">Cancellation</a>
                    <a href="" routerLink="/footercard">FAQ</a>
                    <a href="" routerLink="/footercard">Report Infringement</a>
                </div>
                <div class="footer-items consumer">
                    <h5>Consumer policy</h5>
                    <a href="" routerLink="/footercard">Return Policy</a>
                    <a href="" routerLink="/footercard">Terms Of Use</a>
                    <a href="" routerLink="/footercard">Security</a>
                    <a href="" routerLink="/footercard">Sitemap</a>
                </div>
                <div class="social footer-items">
                    <h5>Social</h5>
                    <a href="">Facebook</a>
                    <a href="">Twitter</a>
                    <a href="">Youtube</a>
                    <a href="">Instagram</a>
                </div>
            </div>
            <br>
            <div class="line"></div>
            <div class="footer-2">
                <h6>&#169; copyright</h6>
                <p>All Rights Reserved</p>
            </div>
        </footer>

    </div>
</div>